apiVersion: v1beta1
kind: Service
metadata:
  name: newspringapp
spec:
  ports:
  - name: http
    
    port: 8080
    protocol: TCP
    targetPort: 8080
  type: LoadBalancer
  selector:
    app: newspringapp
   
