apiVersion: v1
kind: Service
metadata:
  name: my-application
spec:
  ports:
  - name: http
    
    port: 8080
    protocol: TCP
    targetPort: 8080
  type: LoadBalancer
  selector:
    app: my-application
   
