apiVersion: v1
kind: Service
metadata:
  name: springapplication
spec:
  ports:
  - name: http
    port: 3306
    protocol: TCP
    targetPort: 3306
  type: LoadBalancer
  selector:
    app: springapplication
   

