apiVersion: v1
kind: Service
metadata:
  name: newspringapp-deployment
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 80
  type: LoadBalancer
  selector:
    app: newspringapp-deployment
